<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Signup Page</title>
</head>
<body>
<div>
    <form action="#" th:action="@{/signup}" method="post">
        <div><label>Username: <input type="text" name="username"/></label></div>
        <div><label>Password: <input type="password" name="password"/></label></div>
        <div><label>Email: <input type="text" name="email"/></label></div>
        <div><input type="submit" value="Sign up"/></div>
    </form>
</div>
</body>
</html>
